*.pyc
*.DS_Store
emb/*
walk/*
labels/*
models/*
/notebooks/.ipynb_checkpoints
experiments/*.log

# large graphs are fetched, not kept on the repo
graph/sampled/*
graph/BlogCatalog/*
graph/*.edgelist
graph/*.mat
graph/*.json
graph/*.cmty
graph/MovieLens/*
graph/PPI/*
graph/Youtube/*
graph/Reddit/*
